<h3>Edit Card</h3>

<div>
	<button type="button" class="btn btn-default" ng-click="updateCard()">Save Card</button>
</div>

<!-- NYI -->
<div><button type="button" class="btn btn-default">Create a tag</button></div>
			

<div class="panel-info">
	<div class="panel-heading">
		<div class="panel-title" contenteditable strip-br="true" ng-model="card.title">{{card.title}}</div>


	</div>
	<div class="panel-body">

		<tabset>
			<tab heading="business"><div contenteditable strip-br="true" ng-model="card.businessTxt">{{card.businessTxt}}</div></tab>
			<tab heading="legal"><div contenteditable strip-br="true" ng-model="card.legalTxt">{{card.legalTxt}}</div></tab>
			<tab heading="technical"><div contenteditable strip-br="true" ng-model="card.technicalTxt">{{card.technicalTxt}}</div></tab>
			
		</tabset>
		<br> Provides:
		<p>
		<div class="provides">
			<span ng-repeat="tag in card.providesTags"> 
				<span class="label label-warning providesTag"> 
					{{tag.name}} 
					<span ng-click="removeProvidesTag($index)">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
				</span>
			</span>
			<div class="tagChoices btn-group btn-group-sm">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Add a tag</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="tag in allTags" ng-click="card.providesTags.push(tag)">{{tag.name}}</li>
				</ul>
			</div>

		</div>
		<p>Depends on:
		<div class="editableDependency" ng-repeat="dependency in card.dependencies">

			<span ng-click="removeDependency($index)">
				<span class="glyphicon glyphicon-remove"></span>
				Remove
			</span>
			<div contenteditable strip-br="true">{{dependency.description}} </div>

			<br> 
				<span ng-repeat="tag in dependency.tags"> <span class="label label-warning">{{tag.name}}<span
					ng-click="removeDependencyTag($parent.$index, $index)"> <span class="glyphicon glyphicon-remove"></span></span>
				</span>
				</span>
				<div class="tagChoices btn-group btn-group-sm">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Add a tag</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="tag in allTags" ng-click="dependency.tags.push(tag)">{{tag.name}}</li>
				</ul>
			</div>
		</div>
		<button type="button" class="btn btn-sm">Add a dependency</button> <!-- NYI -->

	</div>
</div>
