<!-- TODO Make all parts of the card editable. -->

<h3>Edit Card</h3>

<div>
	<button type="button" class="btn btn-default" ng-click="updateCard()">Update Card</button>
</div>

		<div class="panel-info">
			<div class="panel-heading">
				<h3 class="panel-title" contenteditable="true" ng-model="card.title">{{card.title}}</h3>

				<div class="btn-group-sm">
					<button type="button" class="btn btn-default" ng-click="selectTxt.businessTxt(card)">business</button>
					<button type="button" class="btn btn-default" ng-click="selectTxt.legalTxt(card)">legal</button>
					<button type="button" class="btn btn-default" ng-click="selectTxt.technicalTxt(card)">technical</button>
				</div>
			</div>
			<div class="panel-body">
				<div contenteditable="true">{{card.currentTxt}}</div>
				<br> Provides:
				<p>
					<span ng-repeat="tag in card.providesTags"> <span class="label label-warning">{{tag.name}}</span>
					</span> <br> Depends on: <br>
				<div class="dependencies btn-group btn-group-lg">

					<div class="btn-group" ng-repeat="dependency in card.dependencies">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="dependency.chosen" contenteditable="true">
							{{dependency.description}}<br> Required tags:
							<p>
								<span ng-repeat="tag in dependency.tags"> <span class="label label-warning">{{tag.name}}</span>
								</span>
						</button>
					</div>

				</div>
			</div>

		</div>