<!--
  User: bkeyes, wkim
  Date: 8/15/14
  Time: 1:07 PM
-->

<div>
	<div>
		<span class="label label-danger">{{error}}</span>
	</div>
</div>

<h3>Instance Builder</h3>

<div>
	<button type="button" class="btn btn-default" ng-click="postInstance()">Send Instance</button>
</div>

<div class="list-group">
	<div class="card" ng-repeat="card in instanceCards">
		<div class="panel-info">
			<div class="panel-heading">
				<div class="panel-title">
					<a href="#/card/{{card.id}}" ng-bind-html="card.title"></a>
				</div>


			</div>
			<div class="panel-body">
				<tabset>
					<tab heading="business"><div ng-bind-html="card.businessTxt"></div></tab>
					<tab heading="legal"><div ng-bind-html="card.legalTxt"></div></tab>
					<tab heading="technical"><div ng-bind-html="card.technicalTxt"></div></tab>
					
				</tabset>
				<br> Provides:
				<p>
					<span ng-repeat="tag in card.providesTags"> <span class="label label-warning">{{tag.name}}</span>
					</span> <br> Depends on: <br>
				<div class="dependency" ng-repeat="dependency in card.dependencies">
					<div class="panel panel-default">
						<div class="panel-body">
						<div ng-bind-html="dependency.description"></div>
						<br> 
							<span ng-repeat="tag in dependency.tags">
								<span class="label label-warning">{{tag.name}}</span>
							</span>
							<br>
							Select a card:
							<br>
							<div class="btn-group">
								<a class="btn btn-default" ng-href="#/card/{{dependency.chosenCard.id}}" ng-init="dependency.chosenCard.title='[empty]'">{{dependency.chosenCard.title}}</a>
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span> 
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li class="candidateCard" ng-repeat="candidate in getCandidateCards(dependency)"
										ng-click="instanceCards.push(candidate); addJsonInstanceCard(candidate, card); dependency.chosenCard=candidate">
											{{candidate.title}}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

