<div>
	<div ng-bind-html="error"></div>

</div>

<h3>All Cards</h3>
<div class="list-group">
	<div class="card" ng-repeat="card in cards">
		<div class="panel-info">
			<div class="panel-heading">
				<div class="panel-title"><a href="#/card/{{card.id}}" ng-bind-html="card.title"></a></div>

			</div>
			<div class="panel-body">
				<tabset>
					<tab heading="business"><div ng-bind-html="card.businessTxt"></div></tab>
					<tab heading="legal"><div ng-bind-html="card.legalTxt"></div></tab>
					<tab heading="technical"><div ng-bind-html="card.technicalTxt"></div></tab>
					
				</tabset>
				<br> Provides:
				<p>
					<span ng-repeat="tag in card.providesTags"> <span class="label label-warning">{{tag.name}}</span>
					</span> <p> Depends on: <br>
				<div class="dependencies btn-group btn-group-lg">

					<div class="btn-group" ng-repeat="dependency in card.dependencies">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<div ng-bind-html="dependency.description"></div>
								<span ng-repeat="tag in dependency.tags">
									<span class="label label-warning">{{tag.name}}</span>
								</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li class="candidateCard" ng-repeat="candidate in getCandidateCards(dependency)"
								ng-click="instanceCards.push(candidate); addJsonInstanceCard(candidate, card); dependency.chosen=true">{{candidate.title}}</li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
