/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2014, 2:01:36 PM
    Author     : bkeyes
*/
body {
	margin: 40px;
}

.panel-info {
	background: #FAFAFC;
	width: 500px;
	border: solid 2px;
	margin: 20px;
}

.editableDependency {
	margin: 5px;
	border: dotted black 2px;
}

.provides {
	margin: 5px;
	margin-bottom: 10px;
}

.providesTag {
	border: solid 1px;
	margin: 1px;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	background-color: white
}

.nav-tabs {
	margin-bottom: 0;
	cursor: pointer;
}

.glyphicon {
	cursor: pointer;
}

.candidateCard {
	margin-left: 20px;
	cursor: pointer;
}

.dependency {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

[contenteditable] {
	border: 1px dotted black;
	background-color: white;
	min-height: 20px;
}