/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2014, 2:01:36 PM
    Author     : bkeyes
*/

body {
	margin: 40px;
}

.panel-info {
	background: #FAFAFC;
	width: 500px;
	border: solid 2px;
	margin: 20px;
}

.dependencies {
	
}

.provides {
	margin: 5px;
	margin-bottom: 10px;
}

.providesTag {
	border: solid 1px;
	margin: 1px;
}

.candidateCard {
	margin-left: 20px;
}	

[contenteditable] {
  border: 1px solid black;
  background-color: white;
  min-height: 20px;
}